<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microcharts" version="0.9.5.9" targetFramework="net472" />
  <package id="OpenTK" version="4.4.0" targetFramework="net47" />
  <package id="OpenTK.GLControl" version="4.4.0" targetFramework="net47" />
  <package id="SkiaForms" version="1.0.0-pre3" targetFramework="net47" />
  <package id="SkiaForms.Gtk2" version="1.0.0-pre3" targetFramework="net47" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net472" requireReinstallation="true" />
  <package id="SkiaSharp.Views" version="2.80.2" targetFramework="net472" requireReinstallation="true" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.2" targetFramework="net472" requireReinstallation="true" />
  <package id="SkiaSharp.Views.Gtk2" version="2.80.2" targetFramework="net472" requireReinstallation="true" />
  <package id="SkiaSharp.Views.WindowsForms" version="2.80.2" targetFramework="net472" requireReinstallation="true" />
  <package id="SkiaSharp.Views.WPF" version="2.80.2" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" requireReinstallation="true" />
  <package id="Xamarin.Forms" version="4.8.0.1821" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.8.0.1821" targetFramework="net472" />
</packages>